<!doctype html>
<html class="no-js" lang="zxx">
  <%- include('head') %>
<body>
    <%- include('header') %>
    <%- include('slider') %>
    <%- include('textohome') %>
    <%- include('oquefazemos') %>
    <%- include('footer')%>
    <%- include('jsarchives')%>
  </body>
</html>